*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.cont {
    max-width: 117rem;
    margin: 0 auto;
}

.header {
  background-color: #1d3557;
  padding: 2.4rem;
}

.header__logo {
    font-size: 24px;
    color: #a2bdce;
    font-weight: 700;
}

.header__cont {
    display: flex;
  justify-content: space-between;
}

.nav__list {
    display: flex;
    list-style: none;
    gap: 2.4rem;
}

.nav__link:link,
.nav__link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #dae5eb;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    padding-bottom: 3px;
}

.hero__cont {
    display: flex;
    gap: 8rem;
}

.hero__left-box {
    flex: 1 1 50%;
    padding: 5rem 0;
}

.hero__right-box {
    flex: 1 1 50%;
    background-color: #5c8ca9;
    color: #dae5eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 3.2rem;
}

.nav__link:hover,
.nav__link:active {
    border-bottom: 1px solid #dae5eb;
}

.hero {
    background-color: #1d3557;
    padding: 8rem 2.4rem;
}

.hero__description {
    font-size: 18px;
    color: #dedfe1;
    margin-bottom: 2.4rem;
}

.main-heading {
    font-weight: 700;
    color: #dae5eb;
    font-size: 3.6rem;
    margin-bottom: 1.2rem;
}

.hero__link:link,
.hero__link:visited {
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    color: #dae5eb;
    font-weight: 700;
    background-color: #5c8ca9;
    padding: 0.6rem 3.2rem;
    border-radius: 6px;
    transition: all 0.3s;
}

.hero__link:hover,
.hero__link:active {
    background-color: #6c98b2;
}
.random {
    padding: 4rem 2.4rem;
    background-color: #dee8ee;
}

.random-cont {
    padding: 0 12rem;
}

.box {
    height: 15rem;
    background-color: #5c8ca9;
    margin-bottom: 2rem;
    border-radius: 9px;
}

.random-heading {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 4.8rem;
    color: #1c313f;
}

.info-list {
    list-style: none;
    display: flex;
    gap: 6rem;
}

.info__description {
    font-size: 1.6rem;
    color: #5c8ca9;
    margin-bottom: 2.4rem;
    text-align: center;
}

.testimonial {
    background-color: #f0f0f0;
    padding: 6.4rem 2.4rem;
}

.test-cont {
    padding: 0 24rem;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1.7;
    color: #4a7087;
}

span {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 700;
    color: #4a7087;
    display: block;
    text-align: end;
}

.cta {
    padding: 4rem 2.4rem;
    background-color: #dee8ee;
}

.cta__cont {
    background-color: #5c8ca9;
    padding: 2.4rem 3.2rem;
    margin: 0 24rem;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4rem;
}

.cta__heading {
    font-size: 2.4rem;
    color: #dae5eb;
    margin-bottom: 1.2rem;
}

.cta__button {
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  color: #dae5eb;
  font-weight: 700;
  background-color: transparent;
  border: 2px solid #dae5eb;
  padding: 0.6rem 3.2rem;
  border-radius: 6px;
  transition: all 0.3s;
  width: 14rem;
}

.cta__button:hover {
  background-color: #dae5eb;
  color: #5c8ca9;
}

.cta__description {
    font-size: 1.6rem;
    color: #dae5eb;
}

.footer {
    background-color: #1d3557;
    padding: 2.4rem;
}

.copyright {
    text-align: center;
    font-size: 1.8rem;
    color: #dedfe1;
}